.cb-slideshow, .cb-slideshow:after {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.cb-slideshow li span {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	color: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: none;
	opacity: 0;
	z-index: 0;
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 9s linear infinite 0s;
	-moz-animation: imageAnimation 9s linear infinite 0s;
	-o-animation: imageAnimation 9s linear infinite 0s;
	-ms-animation: imageAnimation 9s linear infinite 0s;
	animation: imageAnimation 9s linear infinite 0s;
}

/*-----------------------------------------
	Slid Show image part
-----------------------------------------*/ 
.cb-slideshow li:nth-child(1) span {
	
	 
}
.cb-slideshow li:nth-child(2) span {
	
	 -webkit-animation-delay: 3s;
	 -moz-animation-delay: 3s;
	 -o-animation-delay: 3s;
	 -ms-animation-delay: 3s;
	 animation-delay: 3s;
}
.cb-slideshow li:nth-child(3) span {
	
	 -webkit-animation-delay: 6s;
	 -moz-animation-delay: 6s;
	 -o-animation-delay: 6s;
	 -ms-animation-delay: 6s;
	 animation-delay: 6s;
}




/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
 0% {
opacity: 0;
 -webkit-animation-timing-function: ease-in;
}
 8% {
opacity: 1;
 -webkit-animation-timing-function: ease-out;
}
 42% {
opacity: 1
}
 50% {
opacity: 0
}
 100% {
opacity: 0
}
}
@-moz-keyframes imageAnimation {
 0% {
opacity: 0;
 -moz-animation-timing-function: ease-in;
}
 8% {
opacity: 1;
 -webkit-animation-timing-function: ease-out;
}
 42% {
opacity: 1
}
 50% {
opacity: 0
}
 100% {
opacity: 0
}
}
@-o-keyframes imageAnimation {
 0% {
opacity: 0;
 -o-animation-timing-function: ease-in;
}
8% {
opacity: 1;
 -webkit-animation-timing-function: ease-out;
}
 42% {
opacity: 1
}
 50% {
opacity: 0
}
 100% {
opacity: 0
}
}
